MICROSOFT_CLIENT_ID=
MICROSOFT_TENANT_ID=organizations
MICROSOFT_SCOPES=User.Read Mail.ReadWrite Mail.Send Calendars.ReadWrite Calendars.ReadWrite.Shared People.Read
MICROSOFT_TOKEN_CACHE_PATH=.data/msal_token_cache.json
