MICROSOFT_CLIENT_ID=
MICROSOFT_TENANT_ID=organizations
MICROSOFT_SCOPES=User.Read Mail.ReadWrite Mail.Send Calendars.ReadWrite Calendars.ReadWrite.Shared People.Read
MICROSOFT_TOKEN_CACHE_PATH=.data/msal_token_cache.json
# Max items returned by list_messages / search_messages (default 1000)
MAX_LIST_LIMIT=1000
